@charset "utf-8";
/* CSS Document */

@font-face
{
font-family: colaborate-regular;
src: url('font/Colaborate-Regular.ttf'),
	 url('font/Colaborate-Regular.eot');
}

*{
	font-family: colaborate-regular;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

/*"Retirar" a cor dos links visitados*/
a:visited{
	color: #666666;
}

body{
	/*background-image:url(img/bg.jpg);*/
	background: #1d9ba5 url(img/bg.jpg) repeat;
}

.link{
	text-decoration: underline;
}

.barraLaranja{
	background-color: #e66510;
	color: #ffffff;
	margin: 5px 0px;
	padding: 5px;
}

#corpo{
	background-color: #ffffff;
	border-bottom: 8px solid #e66510;
	border-top: 8px solid #e66510;
	min-height: 450px;
	margin: 30px auto 30px auto;
	padding: 20px 14px 20px 14px;
	width: 996px;
}
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*#topo{
	color: #666666;
	height: 34px;
	position: relative;
	width: 993px;
	width: 100%;
}*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#topo{
	height: 34px;
	position: relative;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*#topoEsquerda{
	float: left;
	margin: 8px 0px 0px 0px;
	position: relative;
	width: 300px;
}*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#topoEsquerda{
	color: #666666;
	float: left;
	margin: 8px 0px 0px 0px;
	position: relative;
	width: 300px;
}

#topoEsquerda a.link{
	color: #285ee8;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*#topoEsquerda #logout{
	background: #e4e4e4;
	margin: 0px 0px 0px 18px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	
}*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#topoEsquerda a#logout{
	background: #e4e4e4;
	color: #666666;
	margin: 0px 0px 0px 18px;
	padding: 5px;
	text-align: center;	
}
#topoDireita{
	float: right;
	position: relative;
	width: 140px;
}
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
#menuWrapper{
	background-color: #f8f8f8;
	border: 1px solid #f3f3f3;
	clear: both;
	height: 94px;
	margin: 11px auto 51px auto;
	position: relative;
	width: 100%;
}

#logo{
	float: left;
	margin: 10px 0px 0px 10px;
	position: relative;
}

#menuWrapper ul{
	background-color: #ffffff;
	float: right;
	height: 78px;
	list-style-type: none;
	margin: auto 18px auto auto;
	padding-right: 2px;
	position: relative;
	text-align: center;
	top: 8px;
}

#menuWrapper ul li{
	background-color: #e4e4e4;
	float: left;
	font: 16px;
	margin-left: 2px;
	margin-top: 2px;
}

#menuWrapper ul li a{
	display: inline-block;
	height: 44px;
	padding-top: 30px;
	width: 102px;
}

#menuWrapper ul li a:hover{
	background: #d5d5d5;
	border-bottom: 4px solid #e66510;
	height: 40px;
}

#menuWrapper ul li a.opAtual{
	background: #666666;
	border-bottom: 4px solid #e66510;
	height: 40px;
	color: #e4e4e4;
}
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
#bloco1{
	background: #c3ffc4;
}


#barraTitulo{
	/*background-color: #1f99a5*/
	background-color: #ffc4c4;
	height:100px;
	/*margin:40px 0px 0px 15px;*/
	position:relative;
	width:800px;
}

.title{
	color:#ffffff;
	float: left;
	font-size:50px;
	height:50px;
	margin-left:10px;
	margin-top:10px;
	width:200px;
}

#prioridade{
	border: 2px solid #ffffff;
	height:76px;
	float:left;
	margin:10px 0px 0px 500px;
	width:76px;
}

#imgprioridade{
	float:left;
	height:76px;
	width:76px;
}

#detalhaproj{
	background-color:#bff7ff;
	border:2px solid #ffffff;
	height:26px;
	margin:60px 0px 0px 210px;
	width:146px;
}

.textoproj{
	color:#666666;
	font-size:20px;
	margin:2px;
	position:absolute;
	text-align:center;
}

#burn{
	/*background-color:#008d8d;*/
	background-color:#1f99a5;
	height:380px;
	margin:160px 0px 0px 15px;
	width:800px;
}

#burnchart{
	background-color:#e66510;
	height:40px;
	margin:10px 0px 0px 10px;
	position:absolute;
	width:220px;
}

.textoburn{
	color:#ffffff;
	font-size:30px;
	margin:2px;
	position:absolute;
	text-align:center;
}

#imgburn{
	height:260px;
	position:absolute;
	left:290px;
	top:450px;
	width:600px;
}

#menuproj{
	background-color:#e66510;
	float:left;
	height:500px;
	margin: 40px 0px 0px 10px;
	width:160px;
}
/*:::C:A:I:O::::C:A:I:O::::C:A:I:O:::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::CCCC::::AAAA:::::IIII::::OOOO:::*/
/*::CCC:::::AA::AA:::::II::::OO::OO::*/
/*::C:::::::AAAAAA:::::II::::O::::O::*/
/*::CCC:::::AA::AA:::::II::::OO::OO::*/
/*:::CCCC:::AA::AA::::IIII::::OOOO:::*/
#home_bloco_1_esq{
	background-color: #1f99a5;
	float: left;
	height: 300px;
	margin: 4px;
	width: 618px;
}

.caixa_alta{
	color: #ffffff;
	font-size: 38px;
	margin: 14px;
}

.caixa_media{
	color: #ffffff;
	font-size: 16px;
	margin: 20px;
	text-align: justify;
}

#botao_venda{
	background-color: #00bb00;
	border: 2px solid #bff7ff;
	height: 64px;
	width: 384px;
	text-align: center;
}

#link_cadastro{
	display: block;
	height: 64px;
	margin: 64px auto 0px auto;
	text-decoration: none;
	width: 384px;
}

#cadastre-se{
	color: #ffffff;
	font-size: 40px;
	margin: 10px 0px 0px 0px;
}
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
#home_bloco_1_dir{
	background-color: #bff7ff;
	float: right;
	height: 320px;
	width: 370px;
}

#slide{
	border: 4px solid #000000;
	height: 218px;
	margin: 4px;
	width: 352px;
}

#bloco_controle{
	background-color: #1f99a5;
	height: 76px;
	margin: 0px auto 0px auto;
	width: 350px;
}

#bloco_central{
	height: 32px;
	margin: 0px auto 0px auto;
	width: 120px;
}

.move{
	display: block;
}

.controle{
	float: left;
	height: 32px;
	margin: 22px 4px;
	width: 32px;
}
/*:::::::::::::::::::::::::::::::::::*/
#linha_horizontal{
	background-color: #666666;
	margin: 420px auto 0px auto;
	height: 2px;
	width: 1000;
}
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
#home_bloco_2_esq_sup{
	background-color: #1f99a5;
	float: left;
	height: 260px;
	margin: 20px 0px 0px 0px;
	width: 626px;
}

#home_bloco_esq_sup_2_central{
	height: 240px;
	margin: 15px 8px;
	width: 540px;
}

.vantagem{
	height: 60px;
	float: left;
	margin: 0px 0px 0px 70px;
	width: 80px;
}

.img_vantagem{
	margin: 6px 16px;
	height: 48px;
	width: 48px;
}

.texto_vantagem{
	background-color: #e66510;
	color: #ffffff;
	float: left;
	font-size: 16px;
	height: 20px;
	margin: 20px 0px 40px 0px;
	text-align: center;
	width: 120px;
}
/*:::::::::::::::::::::::::::::::::::*/
#home_bloco_2_esq_inf{
	background-color: #1f99a5;
	float: left;
	height: 210px;
	margin: 20px 0px 0px 0px;
	width: 626px;
}

#titulo_telas{
	background-color: #e66510;
	color: #ffffff;
	font-size: 40px;
	margin: 4px auto 0px auto;
	text-align: center;
	width: 320px;
}

.promo_imgs{
	float: left;
	height: 150px;
	margin: 10px 10px 10px;
	width: 186px;	
}
/*:::::::::::::::::::::::::::::::::::*/
#home_bloco_2_dir{
	border: 2px solid #666666;
	background-color: #e4e4e4;
	float: right;
	height: 486px;
	margin: 20px 0px 40px 0px;
	width: 364px;
}

.scrum{
	margin: 10px;
	text-align: center;
	color: #666666;
	font-size: 40px
}

.scrum_media{
	margin: 20px;
	text-align: justify;
	color: #666666;
	font-size: 16px;
}
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::*/
#rodape{
	background-color: #e4e4e4;
	border: 4px solid #666666;
	height: 200px;
	margin:0px auto 0px auto;
	width: 1016px;
}
/*:::::::::::::::::::::::::::::::::::*/
#esquerda_rodape{
	float: left;
	height: 180px; 
	margin: 10px 0px 10px 20px;
	width: 280px;
}

.social_img{
	/*background-color: #e66510;*/
	float: left;
	margin: 2px;
	height: 32px;
	width: 32px;
}

.social_texto{
	color: #666666;
	float: left;
	font-size: 16px;
	height: 64px;
	margin: 10px 0px 0px 4px;
	width: 100px;
}
/*:::::::::::::::::::::::::::::::::::*/
#centro_rodape{
	float: left;
	height: 180px;
	margin: 10px 0px 10px 80px;
	width: 156px;
}

.link_vertical{
	display: block;
	margin: 0px 0px 10px 0px;
	text-decoration: none;
}

.vertical_texto{
	color: #666666;
	font-size: 24px;
	text-align: center;
}
/*:::::::::::::::::::::::::::::::::::*/
#direita_rodape{
	float: right;
	height: 180px; 
	margin: 10px 20px 10px 0px;
	width: 440px;
}

.logo_rodape{
	display: block;
	float: left;
	margin: 20px 10px;
}

#logo_melkor{
	height: 37px;
	width: 175px;
}

#logo_alianca{
	height: 68px;
	width: 124px;
}

#rodape_topo_img{
	float: left;
	height: 80px;
	margin: -20px 0px 0px 0px;
	width: 80px;
}

#copyright{
	display: block;
	margin: 160px  0px;
}

/*:::::::::::::::::::::::::::::::::::*/
/*:::A:D:R:I:A:N:A:::A:D:R:I:A:N:A:::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::A:D:R:I:A:N:A:::A:D:R:I:A:N:A:::*/
/*:::::::::::::::::::::::::::::::::::*/
/*:::A:D:R:I:A:N:A:::A:D:R:I:A:N:A:::*/
/*:::::::::::::::::::::::::::::::::::*/

#cadastro{
	background-color: #1f99a5;
	height: 800px;
	padding: 5px;
}

#tituloCadastro{
	background-color: #e66510;
	height: 34px;
	margin: 5px;
	padding: 2px;
	width: 126px;
}

.titulo{
	color: #ffffff;
	font-size: 30px;
	text-align: center;
}

fieldset {
	margin: 2px auto;
	padding: 20;
	padding-top: 10px;
	width: 860px;  Tamanho total do invólucro dos campos
}

fieldset legend{
	text-align: center;

}

#cadastro input[type="text"],
input[type="password"] {
			padding: 3px;
}

#blocoCadastroEsq{
	float: left;
	margin-left: 40px;
}

#blocoCadastroDir{
	float:right;
	margin-right: 40px;
}

#blocoCadastroDir li{
	list-style-type: none;
}

#cadastroRepresentanteEsq{
	float: left;
	margin-left: 40px;
}

#cadastroRepresentanteDir{
	float: left;
	margin-left: 180px;
	
}

#cadastroRepresentanteDir textarea {
	resize: none;
}

ul#planos {
	/*background-color: #ff0000;*/

}


ul#planos li {border: 1px solid;
	background-color: #f8f8f8;
	float: left;
	margin-left: 33px;
	width: 241px;
}

ul#planos li h1 {
	font-size: 18px;
	margin-bottom: -3px;
	padding-top: 10px;
	text-align: center;
}

ul#planos li .texto {
	padding: 15px;
	text-align: justify;
}

ul#planos li .btn {border: 1px solid;
	background-color: #f8f8f8;
	float: none;
	margin: 0 auto;
	text-align: center;
}

.limparFloat { clear: both; }

ul, li { margin: 0; padding: 0; }
ul { list-style: none; }

.botao{
	background-color: #009835;
	border: 7px;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 29px;
	text-decoration: none;3
}


























